#Home{
    background-color: burlywood;
    
}

.nav p{
    margin: 1px;
}
nav{
    justify-content: space-between;
    
}
ul{
    display: flex;
    margin-top: 1px;
    text-align: center;
     font-size: 24px;
}
.nav ul li{
    display: inline;
    display: flex;
    list-style: none;
    padding-left: 2px;
    padding: 20px;
    padding-left: 200px;
}
#about-me_section{
    width: 50%;
    background-color: black;
    color: white;
    margin: 30px 30px;
}
.skills{
    display: flex;
}
.img{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 200px;
}
img{
    border-radius: 50%;
}
.about-me{
    display: flex;
   
}
.image-about{
    box-sizing: border-box;
    float: right;
    border: 2px solid grey;
    padding: 20px;
    padding-right: 50PX;
    margin: auto;
}
.image-text{
    font-size: 15px;
    float: right;
    width: 50%;
    border: 2px solid grey;
}
.band{
    display: flex;
}
.project-image{
box-sizing: border-box;
float:right ;
padding: 50px;
padding-right: 50px 50px;
}
.ip-text{
    float: right;
    font-size: 14px;
    padding-left: 45px;
}
.anitas{
    display: flex;
}
.anitas-image{
    box-sizing: border-box;
    float: right;
    padding: 20px;
    padding-right: 50px 50px;
    border: 2px solid white;
}
.text-descrip{
    padding-left: 45px;
    float: right;
    font-size: 14px;
}
.education-background{
    display: flex;
    padding-left: 70px
}
.edu-logo{
    padding: 20px 20px;
    margin-left: 20px;
}
.edu-level{
    float: right;
}
.level-tartiary{
    display: flex;
    padding: 30px 30px ;
}
.diploma{
    padding:20px 20px ;
    margin-left: 20px;
}
.hobbies{
    border: 2px solid blue;
    background-color: yellow;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 30%;
}
.model{
    display: flex;
}
.home-location{
    display: block;
    background-color: green;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}
#home-direction{
    display: flex;
    text-align: center;
}
.availability{
    background-color: grey;
    text-align: center;
}

/*--style social sticky icon---*/

.footer-header{
    background-color: black;
    color: whitesmoke;
}
.social ul li{
    list-style: none;
    float: right;
    align-items: center;
    margin-left: 200px ;
}
hr{
    color: white;
     width: auto;
}
.page-contact-me{
    display: flex;
    justify-content: space-between;
}
.me-to{
    text-align: center;
    margin-left: 200px;
}

.links{
    text-align: center;
}

#copyright{
    text-align: center;
    margin-left:200px ;
}
/*--media query--*/
@media screen and (min-width: 400px) and (max-width: 768px) {
    .overlay a {font-size: 20px;
    font-size: 40px;
    top: 15px;
    right: 30px;
    }
}
